{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Cook List
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary">
      Add Cook
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <br>

  {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Years of Experience</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td>
            <a href="{{ cook.get_absolute_url }}">{{ cook.id }}</a>
          </td>
          <td>{{ cook.first_name }} {{ cook.last_name }}</td>
          <td>{{ cook.username }}</td>
          <td>{{ cook.years_of_experience }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no cooks in the Kitchen</p>
  {% endif %}
{% endblock %}
