{% extends "base.html" %}

{% block content %}
  <a href="{% url 'kitchen:dish-list' %}"><-Back to dishes</a>
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen:dish-update' pk=dish.pk %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'kitchen:dish-delete' pk=dish.pk %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <p>Dish Type: {{ dish.dish_type }}</p>
  <p>Description: {{ dish.description }}</p>
  <h3>Cooks
    {% if user in dish.cooks.all %}
      <a href="{% url 'kitchen:toggle-assign' pk=dish.id %}" class="btn btn-danger link-to-page">Delete me from this dish</a>
    {% else %}
      <a href="{% url 'kitchen:toggle-assign' pk=dish.id %}" class="btn btn-primary link-to-page">Assign me to this dish</a>
    {% endif %}
  </h3>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li><strong>Username:</strong> {{ cook.username }}</li>
      <li><strong>Full Name:</strong> {{ cook.first_name }} {{ cook.last_name }}</li>
      <li><strong>Years of Experience:</strong> {{ cook.years_of_experience }}</li>
      <br>
    {% endfor %}
  </ul>
  <hr>
  <h3>Ingredients</h3>
  <hr>
  <ul>
    {% for ingredient in dish.ingredients.all %}
      <li><strong>Name:</strong> {{ ingredient.name }}</li>
      <br>
    {% endfor %}
  </ul>
{% endblock %}
